# Ignore node_modules
node_modules/

# Ignore build artifacts
build/
dist/
react-icons/
vue-icons/

# Ignore source files (if you're only publishing the built files)
src/

# Ignore configuration files
*.log
*.env
npm-debug.log*

# Ignore the cheatsheet
cheatsheet.html

# Ignore tests and documentation
tests/
docs/
README.md
LICENSE
