<!DOCTYPE html>
<html>
<head>
  <title>Icon Cheatsheet</title>
</head>
<body>
  <h1>Icon Cheatsheet</h1>
  <ul>
    {{#each icons}}
      <li>
        <img src="{{this}}" alt="{{this}}">
        <p>{{this}}</p>
      </li>
    {{/each}}
  </ul>
</body>
</html>
